@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Report/Rapport</h1>
    <p class="lead">Help the team see performance</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Members</h2>
        <p>
            Create Members and assign tasks to them 
        </p>
        <p><a class="btn btn-default" href="/member/create">Create Member &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Jobs</h2>
        <p>Create Jobs to assign to a Member</p>
        <p><a class="btn btn-default" href="/job/create">Create Job &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reports</h2>
        <p>Create a Report on a completed Job</p>
        <p><a class="btn btn-default" href="/report/create">Create Job &raquo;</a></p>
    </div>
</div>